.social-media {
	z-index: 11111;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	position: fixed;
	right: 1%;
	top: 15%;

	&__link {
		padding: 7px;
		background-color: #020011;
		border-radius: 80px;
		transition: background-color 0.3s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;

		& > div > div {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:hover {
			background-color: #ee4503;
		}

		& > div {
			height: 20px;
			width: 20px;
		}
	}
}
