.header-wrapper {
	background-color: #fff;
	border-radius: 15px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 91px;
	background-color: #fff;
	margin: 0 auto;
	position: relative;
	border-radius: 15px;

	&__submenu {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 320%;
		left: 0%;
		background-color: #fff;
		border-radius: 2px 8px;
		list-style: none;
		padding: 20px;
		z-index: 10;
		min-width: 147px;
		gap: 16px;

		&-item {
			font-size: 16px;
			color: #1f1f1f;

			&-link {
				text-decoration: none;
				color: inherit;
				text-decoration: underline;
				text-decoration-thickness: 2px;
				text-decoration-color: transparent;
				transition: all 0.3s ease-in-out;
	
				&:hover, &--active {
					text-decoration-color: #ee4503;
				}
			}
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: 24px;
		list-style-type: none;

		&-item {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;
			color: #020011;
			position: relative;
			cursor: pointer;
			font-size: 16px;
			line-height: 120%;
			text-decoration: underline;
			text-decoration-thickness: 2px;
			text-decoration-color: transparent;
			transition: all 0.3s ease-in-out;

			&:hover, &--active {
				text-decoration-color: #ee4503;
			}

			&--active .header__submenu {
				display: flex;
			}

			&--active .header__menu-item-icon {
				transform: rotate(180deg);
			}

			&-icon {
				height: 14px;
				width: 14px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: transform 0.3s ease;
			}
		}
	}

	&__logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		&::before {
			content: '';
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			width: 319px;
			height: 56px;
			background: #fff;
			border-radius: 30px;
			z-index: -1;
		}
	}
}
